<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Controls</title>
  <meta name="description" content="Controls">
  <meta name="author" content="Controls">
  <script type="text/javascript" src="../js/lib/jquery-3.4.1.slim.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/controls.css?v=1.0">
</head>

<body>
  <section class="control-section">
    <div class="top-section"></div>
    <div class="form-section">
      <h3>Extraction Configurations</h3><br>
      <form id="settings">
      </form>
      <input type="text" id="query" name="query" class="large" placeholder="Additional Query">
    </div>
    <div class="bottom-section">
    </div>
  </section>
</body>

<script src="../js/pop-up/controls.js"></script>
<script src="../js/pop-up/start.js"></script>
</html>